<!DOCTYPE html>
<html lang = "es">
<head>
  <meta charset="utf-8"/>
  <meta description="parkApp Login"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>parkApp</title>
  <link rel="icon" href="../../img/logo_ico.png">
  <style>
    body{
      background-color: #525252;
    }
    .centered-form{
      margin-top: 10px;
    }
    .centered-form .panel{
     background: rgba(245, 245, 245, 0.8);
     box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
    }
  </style>
  <link href="../../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/jquery-1.11.1.min.js"></script>
</head>

<body>
<!--  <div class="container"> -->
    <div class="row centered-form">
      <div class="col-md-12 col-md-offset-1">


<!-- Nav -->
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="../propietario/prop_menu.html">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../usuario/perfil.html">Mi Perfil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">$PropietarioRegistrado</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../usuario/index.html">Logout</a>
  </li>
</ul>
<!-- /Nav -->


        <div class="panel panel-default">
          <div class="panel-heading" align = "center">
            <img src="../../img/logo.png" alt="logo" width="81" height="100"/>
            <h3 align = "center" class="panel-title">Locales de Estacionamiento</h3>
          </div>
          <div class="panel-heading" align = "left">
            <a href="../propietario/prop_menu.html"><img src="../../img/left.png" alt="logo" width="45" height="50"/></a>
          </div>

          <div class="panel-body">
            <form role="form">
              <br>
              <div class="form-group">

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Local</th>
        <th scope="col">Direccion</th>
        <th scope="col">Distrito</th>
        <th  with="10%" colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Estacionamiento Derteano</td>
        <td>Av. Derteano 120</td>
        <td>San Isidro</td>
        <td><a href="#"><img src="../../img/ver.png"/>Ver</a></td>
        <td><a href="#"><img src="../../img/editar.png"/>Editar</a></td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Estacionamiento Derteano</td>
        <td>Av. Derteano 120</td>
        <td>San Isidro</td>
        <td><a href="#"><img src="../../img/ver.png"/>Ver</a></td>
        <td><a href="#"><img src="../../img/editar.png"/>Editar</a></td>
     </tr>

      <tr>
        <th scope="row">3</th>
        <td>Estacionamiento Derteano</td>
        <td>Av. Derteano 120</td>
        <td>San Isidro</td>
        <td><a href="#"><img src="../../img/ver.png"/>Ver</a></td>
        <td><a href="#"><img src="../../img/editar.png"/>Editar</a></td>
      </tr>

      <tr>
        <th scope="row">4</th>
        <td>Estacionamiento Derteano</td>
        <td>Av. Derteano 120</td>
        <td>San Isidro</td>
        <td><a href="#"><img src="../../img/ver.png"/>Ver</a></td>
        <td><a href="#"><img src="../../img/editar.png"/>Editar</a></td>
      </tr>

      <tr>
        <th scope="row">5</th>
        <td>Estacionamiento Derteano</td>
        <td>Av. Derteano 120</td>
        <td>San Isidro</td>
        <td><a href="#"><img src="../../img/ver.png"/>Ver</a></td>
        <td><a href="#"><img src="../../img/editar.png"/>Editar</a></td>
      </tr>

    </tbody>
  </table>
              </div>


          </div>
        </div>
      </div>
    </div>
<!--  </div>  -->
 </body>
 </html>
