<!DOCTYPE html>
<html lang = "es">
<head>
  <meta charset="utf-8"/>
  <meta description="parkApp Login"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>parkApp</title>
  <link rel="icon" href="../../img/logo_ico.png">
  <style>
    body{
      background-color: #525252;
    }
    .centered-form{
      margin-top: 10px;
    }
    .centered-form .panel{
     background: rgba(245, 245, 245, 0.8);
     box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
    }
  </style>
  <link href="../../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/jquery-1.11.1.min.js"></script>
</head>

<body>
<!--  <div class="container"> -->
    <div class="row centered-form">
      <div class="col-md-12 col-md-offset-1">


<!-- Nav -->
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="../usuario/index.html">Inicio</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="../usuario/index.html#about">Nosotros</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="../usuario/index.html#contact">Contacto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../usuario/perfil.html">Mi Perfil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../reporte/historial.html">Mi Historial</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">$UsuarioRegistrado</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../usuario/index.html">Logout</a>
  </li>
</ul>
<!-- /Nav -->



        <div class="panel panel-default">
          <div class="panel-heading" align = "center">
            <img src="../../img/logo.png" alt="logo" width="81" height="100"/>
            <h3 align = "center" class="panel-title">Estacionamiento</h3>
          </div>
          <div class="panel-heading" align = "left">
            <a href="../reporte/user_repo.html"><img src="../../img/left.png" alt="logo" width="45" height="50"/></a>
          </div>

          <div class="panel-body">
            <form role="form">
              <br>
              <div class="row">
                <div class="col-md-6 col-md-6 col-md-6">
                  <div class="form-group">
                    <h4><b><a>Estacionamiento Derteano</a></b></h4>
                    <img src="../../img/plano1.png" class="img-fluid" alt="Responsive image"/><br>
                      Av. Camino Real 233, San Isidro. 25 estacionamientos libres, distancia 820 metros.<br>
                      <img src="../../img/4star.png" class="img-fluid" alt="Responsive image"/><br>
                   </div>
                </div>
                <div class="col-md-6 col-md-6 col-md-6">
                  <div class="form-group">
                    <img src="../../img/derteano001.png" class="img-fluid" alt="Responsive image"/>
                 </div>
                </div>
              </div>



              <div class="form-group">

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Espacio</th>
        <th scope="col">Vehiculo</th>
        <th scope="col">Ubicacion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          101
          </div>
        </th>
        <td>Automovil</td>
        <td>Techado 2do. Piso</td>
      </tr>
      <tr>
        <th scope="row">
          <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
          303
          </div>
        </th>
        <td>Automovil</td>
        <td>Aire libre</td>
      </tr>
      <tr>
        <th scope="row">
          <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
          S102
          </div>
        </th>
        <td>Automovil</td>
        <td>Sotano 1</td>
      </tr>

      <tr>
        <th scope="row">
          <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
          S402
          </div>
        </th>
        <td>Automovil</td>
        <td>Sotano 4</td>
      </tr>

      <tr>
        <th scope="row">
          <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
          S102
          </div>
        </th>
        <td>Motocicleta</td>
        <td>Sotano 2</td>
      </tr>

    </tbody>
  </table>

              </div>


              <div class="form-group">

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tiempo</th>
        <th scope="col">Tarifa</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleTarifa" id="exampleTarifa" value="tarifa1">
          1
          </div>
         </th>
        <td>Minuto</td>
        <td>S/0.20</td>
      </tr>

      <tr>
        <th scope="row">
          <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleTarifa" id="exampleTarifa" value="tarifa1" checked>
          2
          </div>
        </th>
        <td>Hora</td>
        <td>S/7.50</td>
      </tr>

      <tr>
        <th scope="row">
          <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleTarifa" id="exampleTarifa" value="tarifa1">
          3
          </div>
        </th>
        <td>Dia</td>
        <td>S/35.00</td>
      </tr>

      <tr>
        <th scope="row">
          <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleTarifa" id="exampleTarifa" value="tarifa1">
          4
          </div>
        </th>
        <td>Mes</td>
        <td>S/745.00</td>
      </tr>

    </tbody>
  </table>
              </div>



              <div class="row">
                <div class="col-md-4 col-md-4 col-md-4">
                  <div class="form-group">
                    Tiempo Reserva<br>
                    <input type="text" name="tiempoR" id="tiempoR" class="form-control input-sm" placeholder="Tiempo reserva">
                  </div>
                </div>
                <div class="col-md-4 col-md-4 col-md-4">
                  <div class="form-group">
                    Fecha Reserva<br>
                    <input type="date" name="fechaN" id="fechaN" class="form-control input-sm" placeholder="Fecha reserva">
                  </div>
                </div>
                <div class="col-md-4 col-md-4 col-md-4">
                  <div class="form-group">
                    Hora Inicio Reserva<br>
                    <input type="time" name="timeN" id="timeN" class="form-control input-sm" placeholder="Hora reserva">
                  </div>
                </div>
              </div>
 
              <a href="#"><input type="button" value="Reservar" class="btn btn-info btn-block"></a>
              <br>






<div class="container">
  <div class="row">
    <h3>  Comenta tu experiencia</h3>
  </div>
    
  <div class="row">
    <div class="col-md-12">
      <div class="widget-area no-padding blank">
        <div class="status-upload">
          <form>

            <textarea  rows="4" cols="50" placeholder="Tienes algún comentario por el local o estacionamineto?" ></textarea><br>
            <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Comentar</button>
          </form>
        </div><!-- Status Upload  -->
      </div><!-- Widget Area -->
    </div>
  </div>
</div>








<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Commentarios</h2>
        <section class="comment-list">
          <!-- First Comment -->
          <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive" src="" />
                <figcaption class="text-center">Usuario</figcaption>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                  <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> Responder</a></p>
                </div>
              </div>
            </div>
          </article>
          <!-- Second Comment Reply -->
          <article class="row">
            <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-0 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive" src="" />
                <figcaption class="text-center">usuario</figcaption>
              </figure>
            </div>
            <div class="col-md-9 col-sm-9">
              <div class="panel panel-default arrow left">
                <div class="panel-heading right">Reply</div>
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                  <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> Responder</a></p>
                </div>
              </div>
            </div>
          </article>
          <!-- Third Comment -->
          <article class="row">
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow right">
                <div class="panel-body">
                  <header class="text-right">
                    <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                  <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> Responder</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive" src="" />
                <figcaption class="text-center">username</figcaption>
              </figure>
            </div>
          </article>
          <!-- Fourth Comment -->
          <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive" src="" />
                <figcaption class="text-center">username</figcaption>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-12">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                  <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> Responder</a></p>
                </div>
              </div>
            </div>
          </article>
          <!-- Fifth Comment -->
          <article class="row">
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow right">
                <div class="panel-body">
                  <header class="text-right">
                    <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                  <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> Responder</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive" src="" />
                <figcaption class="text-center">username</figcaption>
              </figure>
            </div>
          </article>
          <!-- Sixth Comment Reply -->
          <article class="row">
            <div class="col-md-9 col-sm-9 col-md-offset-1 col-md-pull-1 col-sm-offset-0">
              <div class="panel panel-default arrow right">
                <div class="panel-heading">Responder</div>
                <div class="panel-body">
                  <header class="text-right">
                    <div class="comment-user"><i class="fa fa-user"></i> That Guy</div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                  <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> Responder</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-md-pull-1 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive" src="" />
                <figcaption class="text-center">username</figcaption>
              </figure>
            </div>
          </article>
        </section>
    </div>
  </div>
</div>







          </div>
        </div>
      </div>
    </div>
<!--  </div>  -->
 </body>
 </html>
